
#GameContent > * {
  font-size: 5rem;
  padding: 2rem;
  border-radius: 10rem;
}
#GameContent {
  grid-template-columns: repeat(auto-fit, minMax(1px, 1fr));
  padding: 5rem;
  gap: 0;
  /* grid-template: 1fr 1fr / repeat(1, 1fr) */
}
