content {
  grid-column: 3;
  grid-row: 1/4;
}
#LevelsContent {
  grid-template: repeat(7, 1fr) / repeat(7, 1fr);
}
/* #SoundContent {
} */
#volume {
  grid-row: 1/3;
  font-size: 5rem;
}
#SoundTable {
  grid-row: 3;
  grid-template: 1fr 1fr / repeat(8, 1fr);
}
/* #ExitContent {
}
#CreditContent {
}*/
#GameContent {
  grid-template-rows: subgrid/*var(--rows);*/
}
