content {
  grid-column: 3;
  grid-row: 1/4;
}
#LevelsContent {
  grid-template: repeat(7, 1fr) / repeat(7, 1fr);
}
#allLevels {
  grid-auto-flow: column;
  grid-template-rows: subgrid;
  grid-template-columns: subgrid;
  grid-row: 2/8;
  grid-column: 1/8;
}
#selectedLevels {
  grid-template-rows: subgrid;
  grid-template-columns: subgrid;
  grid-column: 1/8;
}
#volume {
  grid-row: 1/3;
  font-size: 5rem;
}
#SoundTable {
  grid-row: 3;
  grid-template: 1fr 1fr / repeat(8, 1fr);
}
#GameContent > * {
  font-size: 5rem;
  padding: 2rem;
  border-radius: 10rem;
}
#GameContent {
  grid-template-columns: repeat(auto-fit, minMax(1px, 1fr));
  padding: 5rem;
  gap: 0;
  /* grid-template: 1fr 1fr / repeat(2, 1fr) */
}
